@using KaminiCenter.Common
@using KaminiCenter.Data.Models.Enums;
@using KaminiCenter.Services
@inject IEnumParseService enumParseService;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Камини Център</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style-template.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/js/main.js" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate/animate.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style-template.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/js/main.js" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
        <link href="~/lib/animate/animate.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
</head>
<body>
    <header>
        <!--/ Nav Star /-->
        <nav class="navbar navbar-default navbar-trans navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler collapsed flex-grow-1" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand text-brand" asp-controller="Home" asp-action="Index"><span class="color-text-navbar">Камини Център</span></a>
                <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
                        data-target="#navbarTogglerDemo01" aria-expanded="false">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ml-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Камери
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (var type in (TypeOfChamber[])Enum.GetValues(typeof(TypeOfChamber)))
                                {
                                    var typeName = this.enumParseService.GetEnumDescription(type.ToString(), typeof(TypeOfChamber));
                                    <a class="dropdown-item" asp-controller="Fireplace" asp-action="All" asp-route-type="@type">@typeName</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Модели
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (var type in (TypeProject[])Enum.GetValues(typeof(TypeProject)))
                                {
                                    var typeName = this.enumParseService.GetEnumDescription(type.ToString(), typeof(TypeProject));
                                    <a class="dropdown-item" asp-controller="FinishedModels" asp-action="All" asp-route-type="@type">@typeName</a>
                                }
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Проекти
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#" class="dropdown-item dropdown-toggle">Модел на ъгъл</a>

                                    <ul style="list-style-type:circle" class="dropdown-content">
                                        @foreach (var type in (TypeProject[])Enum.GetValues(typeof(TypeProject)))
                                        {
                                            var typeName = this.enumParseService.GetEnumDescription(type.ToString(), typeof(TypeProject));
                                            <li><a id="navbarDropdown"
                                                   asp-controller="Project" 
                                                   asp-action="All" 
                                                   asp-route-typeLocation="@TypeLocation.Corner" 
                                                   asp-route-type="@type">@typeName
                                                </a></li>
                                        }
                                    </ul>
                                    <a tabindex="-1" href="#" class="dropdown-item dropdown-toggle">Модел на права стена</a>
                                    <ul style="list-style-type:circle" class="dropdown-content">
                                        @foreach (var type in (TypeProject[])Enum.GetValues(typeof(TypeProject)))
                                        {
                                            var typeName = this.enumParseService.GetEnumDescription(type.ToString(), typeof(TypeProject));
                                            <li><a class="dropdown-item"
                                                   asp-controller="Project"
                                                   asp-action="All"
                                                   asp-route-typeLocation="@TypeLocation.StraightWall"
                                                   asp-route-type="@type">@typeName</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Accessorie" asp-action="All">Аксесоари</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog-grid.html">За нас</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
                        data-target="#navbarTogglerDemo01" aria-expanded="false">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </div>
        </nav>
        @this.RenderBody()
        <!--/ Nav End /-->
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/jquery-migrate.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/easing/easing.min.js" asp-append-version="true"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/lib/scrollreveal/scrollreveal.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/contactform/contactform.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/jquery-migrate.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/easing/easing.min.js" asp-append-version="true"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/lib/scrollreveal/scrollreveal.min.js" asp-append-version="true"></script>
        <script src="~/contactform/contactform.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
<script asp-append-version="true">
     $(document).ready(function() {
    $('.dropdown-toggle').dropdown();

    $('.dropdown-submenu>a').unbind('click').click(function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
    });
});
</script>
