@model KaminiCenter.Web.ViewModels.Product.AllProductsViewModel
@using KaminiCenter.Services;
@using KaminiCenter.Common;
@{
    var title = "Добавяне на предложения";
    ViewData["Title"] = title;
    string fireplaceForFulling = TempData["fireplaceForFill"].ToString();

    var fireplaces = Model.Fireplaces.Select(x => new SelectListItem(x.Name, x.Name));
    var models = Model.FinishedModels.Select(x => new SelectListItem(x.Name, x.Name));
    var projects = Model.Projects.Select(x => new SelectListItem(x.Name, x.Name));
    var accessories = Model.Accessories.Select(x => new SelectListItem(x.Name, x.Name));

}
<h1 class="display-4 m-4 mb-4">@title</h1>
<hr />

<div class="col-sm-12">
    <div class="row">
        <div class="col-md-6">
            <div class="agent-avatar-box">
                <img src="@Model.Fireplaces.First(f => f.Name == fireplaceForFulling).ImagePath" alt="@Model.Fireplaces.First(f => f.Name == fireplaceForFulling).Name" class="agent-avatar img-fluid">
            </div>
        </div>
        <div class="col-md-5 section-md-t3">
            <div class="agent-info-box">
                <div class="agent-title">
                    <div class="title-box-d">
                        <h3 class="title-d">
                            @Model.Fireplaces.First(f => f.Name == fireplaceForFulling).Name
                        </h3>
                    </div>
                </div>
                <div class="agent-content mb-3">
                    <div class="info-agents color-a">
                        <p>
                            <strong>Модел: </strong>
                            <span class="color-text-a"> @Model.Fireplaces.First(f => f.Name == fireplaceForFulling).Name</span>
                        </p>
                        <p>
                            <strong>Мощност: </strong>
                            <span class="color-text-a"> @Model.Fireplaces.First(f => f.Name == fireplaceForFulling).Power</span>
                        </p>
                        <p>
                            <strong>Размери: </strong>
                            <span class="color-text-a"> @Model.Fireplaces.First(f => f.Name == fireplaceForFulling).Size</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-area="Administration" asp-controller="Dashboard" asp-action="FillingSuggestion" method="post">
    <div class="row">

        <div class="col-md-3">
            <span>Камини</span>
            <select asp-items="fireplaces" name="selectedFireplaces" class="chosen-select-no-single form-control" multiple>
                @foreach (var type in Model.Fireplaces)
                {
                    <option value="@type.Name">@type.Name</option>

                }
            </select>
        </div>

        <div class="col-md-3">
            <span>Модели</span>
            <select asp-items="models" name="selectedFinishedModels" class="chosen-select-no-single form-control" multiple>
                @foreach (var type in Model.FinishedModels)
                {
                    <option value="@type.Name">@type.Name</option>

                }
            </select>
        </div>

        <div class="col-md-3">
            <span>Проекти</span>
            <select asp-items="projects" name="selectedProjects" class="chosen-select-no-single form-control" multiple>
                @foreach (var type in Model.Projects)
                {
                    <option value="@type.Name">@type.Name</option>

                }
            </select>
        </div>

        <div class="col-md-3">
            <span>Аксесоари</span>
            <select asp-items="accessories" name="selectedAccessories" class="chosen-select-no-single form-control" multiple>
                @foreach (var type in Model.Accessories)
                {
                    <option value="@type.Name">@type.Name</option>

                }
            </select>
        </div>

    </div>
    <div class="form-group m-4">
        <input type="submit" value="Създай" class="btn btn-primary" />
        <input type="hidden" name="productName" value="fireplaceForFulling"/>
        <input type="hidden" name="fireplaceId" value="@Model.Fireplaces.First(f => f.Name == fireplaceForFulling).Id"/>
    </div>
</form>
