@model KaminiCenter.Web.ViewModels.FinishedModels.DetailsFinishedModelsViewModel
@using KaminiCenter.Data.Models.Enums
@using KaminiCenter.Common
@using KaminiCenter.Services;
@inject IEnumParseService enumParseService;
@{
    var typeName = this.enumParseService.GetEnumDescription(Model.TypeProject, typeof(TypeProject));


    ViewData["Title"] = @typeName;
}

<!--/ Intro FinishedModel Start /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@Model.Name</h1>
                    <span class="color-text-a">@typeName</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Начална страница</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="FinishedModels" asp-action="All" asp-route-type="@Model.TypeProject">Модели</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro FinishedModel End /-->
<!--/ FinishedModel Info Start /-->
<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <!--Image -->
                    <div class="col-md-6">
                        <div class="agent-avatar-box">
                            <img src="@Model.ImagePath" alt="@Model.Name" class="agent-avatar img-fluid">
                            <hr />
                        </div>
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Промени</a>
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтрии</a>
                        }
                    </div>
                    <!--Image -->
                    <!--Details-->
                    <div class="col-md-5 section-md-t3">
                        <div class="agent-info-box">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d">
                                        @Model.Name
                                    </h3>
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <p class="content-d color-text-a">
                                    @Html.Raw(@Model.SanitizedDescription)
                                </p>
                                <div class="info-agents color-a">
                                    <p>
                                        <strong>Модел: </strong>
                                        <span class="color-text-a"> @Model.Name</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ FinishedModel Info End /-->