@model KaminiCenter.Web.ViewModels.Fireplace.AllFireplaceViewModel

@{
    ViewData["Title"] = "All";
    var typeOfChamber = @Model.Fireplaces.Select(x => x.TypeOfChamber).FirstOrDefault();
    if (typeOfChamber == "Basic")typeOfChamber = "Базови горивни камери";
    if (typeOfChamber == "VerticalОpening")typeOfChamber = "Камери с вертикално отваряне";
    if (typeOfChamber == "WaterJacket")typeOfChamber = "Камери с водна риза";
    if (typeOfChamber == "IronStoves")typeOfChamber = "Чугунени печки";
    if (typeOfChamber == "IronDoors")typeOfChamber = "Чугунени врати";
}
    <h1 class="display-4">@typeOfChamber</h1>

<a class="btn btn-primary m-4" asp-controller="Fireplace" asp-action="Add">Създай нов запис</a>
<br />
    <div class="row">
        
        @foreach (var fireplace in Model.Fireplaces)
        {
               <div class="col-md-4">
                   <div class="card-box-d">
                       <div class="card-img-d">
                           <img src="@fireplace.ImagePath" alt="@fireplace.Name" class="img-d img-fluid">
                       </div>
                       <div class="card-overlay card-overlay-hover">
                           <div class="card-header-d">
                               <div class="card-title-d align-self-center">
                                   <h3 class="title-d">
                                       <a href="/Fireplace/Details?name=@fireplace.Name" class="link-two">
                                           @fireplace.Name
                                       </a>
                                   </h3>
                               </div>
                           </div>
                           <div class="card-body-d">
                               <p class="content-d color-text-a">
                                   Някакво инфо за камината
                               </p>
                               <div class="info-agents color-a">
                                   <p>
                                       <strong>Мощност: </strong> @fireplace.Power
                                   </p>
                                   <p>
                                       <strong>Размери: </strong> @fireplace.Size
                                   </p>
                               </div>
                           </div>
                           <div class="card-footer-d">
                               <div class="socials-footer d-flex justify-content-center">
                                   <ul class="list-inline">
                                       <li class="list-inline-item">
                                           <a href="#" class="link-one">
                                               <i class="fa fa-facebook" aria-hidden="true"></i>
                                           </a>
                                       </li>
                                       <li class="list-inline-item">
                                           <a href="#" class="link-one">
                                               <i class="fa fa-twitter" aria-hidden="true"></i>
                                           </a>
                                       </li>
                                       <li class="list-inline-item">
                                           <a href="#" class="link-one">
                                               <i class="fa fa-instagram" aria-hidden="true"></i>
                                           </a>
                                       </li>
                                       <li class="list-inline-item">
                                           <a href="#" class="link-one">
                                               <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                           </a>
                                       </li>
                                       <li class="list-inline-item">
                                           <a href="#" class="link-one">
                                               <i class="fa fa-dribbble" aria-hidden="true"></i>
                                           </a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
        }
</div>

    