@model KaminiCenter.Web.ViewModels.Fireplace.AllFireplaceViewModel
@using KaminiCenter.Common;
@{
    ViewData["Title"] = "All";
    
    var typeName = string.Empty;
    if(this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {

    if (this.Model.Fireplaces.Count() == 0)
    {
        typeName = "Направете първия запис от категорията";
    }
    else
    {
        typeName = "Всички камини";
    }
}
}
<h1 class="display-4 m-4 mb-4">@typeName</h1>

<hr />
<div class="row">

    @foreach (var fireplace in Model.Fireplaces)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="@fireplace.ImagePath" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@fireplace.Name</h5>
                    <p class="card-text">@fireplace.ShortDesciption</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@fireplace.Power</li>
                    <li class="list-group-item">@fireplace.Size</li>
                </ul>
                <div class="card-body">
                    <a asp-controller="Dashboard" asp-action="FillingSuggestion" asp-route-productName="@fireplace.Name" class="card-link">Добавяне на предложения</a>
                </div>
            </div>
        </div>
    }
</div>

<!--Paging Start-->
<div class="row">
    <div class="col-sm-12">
        <nav class="pagination-a">
            <ul class="pagination justify-content-end">
                @if (this.Model.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ion-ios-arrow-back"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-area=""
                           asp-controller="Fireplace"
                           asp-action="All"
                           asp-route-page="@(this.Model.CurrentPage - 1)">
                            <span class="ion-ios-arrow-back"></span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= this.Model.PagesCount ; i++)
                {
                    var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                    <li class="page-item @active">
                        <a class="page-link"
                           asp-area=""
                           asp-controller="Fireplace"
                           asp-action="All"
                           asp-route-page="@i">@i</a>
                    </li>
                }
                @if (this.Model.CurrentPage == this.Model.PagesCount)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item next">
                        <a class="page-link"
                           asp-area=""
                           asp-controller="Fireplace"
                           asp-action="All"
                           asp-route-page="@(this.Model.CurrentPage + 1)">
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<!--Paging End-->
