@model KaminiCenter.Web.ViewModels.Fireplace.DeleteFireplaceViewModel

@{
    ViewData["Title"] = "Изтриване на камина";
}

<h3>Сигурни ли сте, че искате да изтриете камината?</h3>
<div>
    
    <hr />
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6">
                <div class="agent-avatar-box">
                    <img src="@Model.ImagePath" alt="@Model.Name" class="agent-avatar img-fluid">
                </div>
            </div>
            <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                    <div class="agent-title">
                        <div class="title-box-d">
                            <h3 class="title-d">
                                @Model.Name
                            </h3>
                        </div>
                    </div>
                    <div class="agent-content mb-3">
                        <p class="content-d color-text-a">
                            @Html.Raw(@Model.Description)
                        </p>
                        <div class="info-agents color-a">
                            <p>
                                <strong>Модел: </strong>
                                <span class="color-text-a"> @Model.Name</span>
                            </p>
                            <p>
                                <strong>Мощност: </strong>
                                <span class="color-text-a"> @Model.Power</span>
                            </p>
                            <p>
                                <strong>Размери: </strong>
                                <span class="color-text-a"> @Model.Size</span>
                            </p>
                            <p>
                                <strong>Димоотвод: </strong>
                                <span class="color-text-a"> @Model.Chimney</span>
                            </p>
                            <p>
                                <strong>Цена: </strong>
                                <span class="color-text-a"> @Model.Price лв.</span>
                            </p>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="submit" value="Изтрии" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
