@model KaminiCenter.Web.ViewModels.Fireplace.DetailsFireplaceViewModel
@using KaminiCenter.Data.Models.Enums
@using KaminiCenter.Common
@using KaminiCenter.Services;
@inject IEnumParseService enumParseService;
@{
    var typeName = this.enumParseService.GetEnumDescription(Model.TypeOfChamber, typeof(TypeOfChamber));


    ViewData["Title"] = @typeName;
}

<!--/ Intro Fireplace Start /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@Model.Name</h1>
                    <span class="color-text-a">@typeName</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index">Начална страница</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Fireplace" asp-action="All" asp-route-type="@Model.TypeOfChamber">Камери</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Fireplace End /-->
<!--/ Fireplace Info Start /-->
<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <!--Image -->
                    <div class="col-md-6">
                        <div class="agent-avatar-box">
                            <img src="@Model.ImagePath" alt="@Model.Name" class="agent-avatar img-fluid">
                        </div>
                        <hr />
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Промени</a>
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтрии</a>
                            <hr />
                        }
                    </div>
                    <!--Image -->
                    <!--Details-->
                    <div class="col-md-5 section-md-t3">
                        <div class="agent-info-box">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d">
                                        @Model.Name
                                    </h3>
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <p class="content-d color-text-a">
                                    @Html.Raw(@Model.SanitizedDescription)
                                </p>
                                <div class="info-agents color-a">
                                    <p>
                                        <strong>Модел: </strong>
                                        <span class="color-text-a"> @Model.Name</span>
                                    </p>
                                    <p>
                                        <strong>Мощност: </strong>
                                        <span class="color-text-a"> @Model.Power</span>
                                    </p>
                                    <p>
                                        <strong>Размери: </strong>
                                        <span class="color-text-a"> @Model.Size</span>
                                    </p>
                                    <p>
                                        <strong>Димоотвод: </strong>
                                        <span class="color-text-a"> @Model.Chimney</span>
                                    </p>
                                    <p>
                                        <strong>Цена: </strong>
                                        <span class="color-text-a"> @Model.Price лв.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!--Comment Form-->
                    <div class="col-md-6">
                        <div class="row">
                            <form asp-area="" asp-controller="Comment" asp-action="CreateComment">
                                @*<div id="sendmessage">Вашето съобщение е изпратено!</div>
                                    <div id="errormessage"></div>*@
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="hidden" name="ProductId" value="@this.Model.Id" />
                                        <input type="hidden" name="ProductName" value="@this.Model.Name" />
                                        <div class="form-group">
                                            <input type="text" name="FullName" class="form-control form-control-lg form-control-a" placeholder="Име и Фамилия">
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Вашият Email адрес">
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <textarea name="Content" class="form-control" cols="45" rows="8" placeholder="Оставете коментар"></textarea>
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-a">Оставете коментар</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--Comment Form End-->
                    <!--All comments start-->
                    <div class="col-md-12 col-lg-12 mt-4">
                        <div class="title-box-d">
                            <h3 class="title-d">Коментари (@Model.Comments.Count())</h3>
                        </div>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="box-comments">
                                <ul class="list-comments">
                                    <li>

                                        <div class="comment-details">
                                            <h4 class="comment-author">@comment.FullName</h4>
                                            <div class="text-muted small">
                                                <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                            </div>
                                            <p class="comment-description border-bottom border-success">
                                                @comment.Content
                                            </p>
                                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName) && comment.Answer == null)
                                            {
                                                <form asp-area="Administration" asp-controller="Comment" asp-action="CreateAnswer">
                                                    <div class="row">
                                                        <div class="col-md-6 mb-3">
                                                            <input type="hidden" name="CommentId" value="@comment.Id" />
                                                            <input type="hidden" name="ProductName" value="@this.Model.Name" />
                                                            <textarea name="answer" rows="6" cols="133"></textarea>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-success pull-right">Отговори</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            }
                                            @if (comment.Answer != null)
                                            {
                                                <p class="content-d color-text-a border-bottom border-success">
                                                    @comment.Answer
                                                </p>
                                            }
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        }

                    </div>
                    <!--All comments end-->
                    <!--Suggestion Form Start-->
                    <div class="col-md-12 section-t8">
                        <div class="title-box-d">
                            <h3 class="title-d">My Properties (6)</h3>
                        </div>
                    </div>
                    <div class="row property-grid grid">
                        <div class="col-sm-12">
                            <div class="grid-option">
                                <form>
                                    <select class="custom-select">
                                        <option selected>All</option>
                                        <option value="1">New to Old</option>
                                        <option value="2">For Rent</option>
                                        <option value="3">For Sale</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="img/property-1.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="#">
                                                    204 Mount
                                                    <br /> Olive Road Two
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">rent | $ 12.000</span>
                                            </div>
                                            <a href="#" class="link-a">
                                                Click here to view
                                                <span class="ion-ios-arrow-forward"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Area</h4>
                                                    <span>
                                                        340m
                                                        <sup>2</sup>
                                                    </span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Beds</h4>
                                                    <span>2</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Baths</h4>
                                                    <span>4</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Garages</h4>
                                                    <span>1</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Suggestion Form End-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Fireplace Info End /-->